.header img {
  float: left;
  width: 75px;
  height: 75px;
  background: rgb(240,232,72);
}

.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
  background-color: rgb(240,232,72);
}
div#content {
	padding-top: 70px;
	padding-left:50px;
}

.container {
  width: 90%;
  margin: 50px auto;
}

.p {
  text-align: center;
  font-size: 14px;
  padding-top: 140px;
}


body { font-size: 140%; }
    div.DTTT { margin-bottom: 0.5em; float: right; }
    div.dataTables_wrapper { clear: both; }

.cursor-change {
  cursor: pointer;
}

#accel {
	margin : 5em 20em;
	border-radius:10px;
	border:solid 1px black;
	padding: 1em;
	color:green;

}
