div#banner { 
       position: absolute; 
       top: 0; 
       left: 0; 
       background-color: rgb(240,232,72); 
       width: 80%; 
     }
     div#banner-content { 
       width: auto; 
       margin: 0 auto; 
       padding: 10px; 
     }

div#content {
	padding-top: 70px;
	padding-left:50px;
}

.container {
  width: 90%;
  margin: 50px auto;
}

.p {
  text-align: center;
  font-size: 14px;
  padding-top: 140px;
}


body { font-size: 140%; }
    div.DTTT { margin-bottom: 0.5em; float: right; }
    div.dataTables_wrapper { clear: both; }

.cursor-change {
  cursor: pointer;
}

#accel {
	margin : 5em 20em;
	border-radius:10px;
	border:solid 1px black;
	padding: 1em;
	color:green;

}

#chart, #canvasVib {
  width:500px;
  height:500px;

}

#twelveHourButton, #twentyFourHourButton {
  text-decoration: none;
  color: #D3D3D3;
}

.warning {
  color: orange;
  font-weight: bolder;
}
